<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <style>
      /* STYLE RESET */
      html, body {
        margin: 0;
        padding: 0;
      }
      
      #app {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
